table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
td,
th {
    width: 18%;
}
.mi-boton-salir{
    align-content: center;
     margin-top: 10px;
     color: white;
 }