table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 160%;
}

td,
th {
    width: 25%;
}
.mat-dialog-content{
    margin: 20px;
}
p {
    font-size: 50px !important; 
}
.mi-boton-salir{
    align-content: center;
     margin-top: 10px;
     color: white;
 }
