table {
    width: 100%;
}

.mat-form-field {
    display: block;
    // font-size: 18px;
  }

td,
th {
    width: 25%;
}
.mat-dialog-content{
    margin: 20px;
}

.mi-boton-salir{
    justify-content: right;
      margin-top: 10px;
      
  }
