<form [formGroup]="myForm" autocomplete="off" >
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="w3-row ">
                <div class="w3-col" style="width:85%">
                    <h2 mat-card-title align="center">Crear Material</h2>
                        </div>
                        <div class="w3-col " style="width:10%">
                            <button class="mi-boton-salir w3-mobile"  (click)="close(element)" mat-icon-button  color="warn" >
                            <mat-icon>clear</mat-icon>
                        </button>
             </div>
                       
          </div>
          <!-- <div class="mb-10" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px">
                <div fxFlex  >
                    <h1 mat-card-title >Crear Material</h1>  
                    <button class="mi-boton-salir"  (click)="close(element)" mat-icon-button  >
                            <mat-icon>clear</mat-icon>
                        </button>   
                </div> -->
                
                       
                    
            <!-- </div> -->
        <mat-dialog-content >
                <mat-form-field  >
                    <input  matInput placeholder="Nombre del material" 
                      formControlName="nombre" required>
                </mat-form-field><p>
                <mat-form-field >
                    <mat-select placeholder="Tipo de Material" formControlName="idtipo" required>
                        <mat-option>Seleccione--</mat-option>
                        <mat-option  *ngFor="let option of tiposMat" [value]="option.idtipo">{{option.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
         </mat-dialog-content>
         <mat-dialog-actions  align="center" >  
                <button (click)="crudMaterial()" mat-raised-button color="primary"  [disabled]="myForm.invalid && myForm.untouched"
                 *ngIf="!cargando">  
                   Guardar</button>
                <button mat-raised-button color="primary"  *ngIf="cargando">  
                    <i class="fas fa-spinner fa-pulse"></i>Espere ...</button>
            </mat-dialog-actions>    
  </form>
  