<div class="w3-row ">
        <mat-card-header style="justify-content: center">
        <div class="w3-col" style="width:85%">
            <mat-card-title align="center">
                    <h4 class="m-0">Crear Garantia</h4>
            </mat-card-title>
        
         </div>
            <div class="w3-col " style="width:10%">
                <button class="mi-boton-salir "  (click)="close('element')" mat-icon-button  color="warn" >
                <mat-icon>clear</mat-icon>
            </button>
     </div>
    </mat-card-header>
               
  </div>
<form [formGroup]="myForm" autocomplete="off" >
        
           <mat-dialog-content align="center">
                   <mat-form-field  >
                       <input  matInput placeholder="Descripción" 
                         formControlName="descripcion" required>
                         <mat-error class="error-message"
                         *ngIf="myForm.get('descripcion').hasError('required')
                          && (myForm.get('descripcion').dirty || myForm.get('descripcion').touched)">
                          Campo obligatorio</mat-error>
                        <mat-error class="error-message"
                          *ngIf="myForm.get('descripcion').hasError('maxlength')
                           && (myForm.get('descripcion').dirty || myForm.get('descripcion').touched)">
                           Máximo 200 Caracteres</mat-error>
                   </mat-form-field>
                   <mat-form-field >
                       <mat-select placeholder="Proveedos" formControlName="idproveedor" required>
                           <mat-option>Seleccione--</mat-option>
                           <mat-option  *ngFor="let option of proveedores" [value]="option.idproveedor">{{option.nombre}}</mat-option>
                       </mat-select>
                       <mat-error class="error-message"
                       *ngIf="myForm.get('idproveedor').hasError('required')
                        && (myForm.get('idproveedor').dirty || myForm.get('idproveedor').touched)">
                        Campo obligatorio</mat-error>
                   </mat-form-field>
            </mat-dialog-content>
            <mat-dialog-actions  align="center" >  
                   <button (click)="crudGarantia()" mat-raised-button color="primary"  [disabled]="myForm.invalid && myForm.untouched"
                    *ngIf="!cargando">  
                      Guardar</button>
                   <button mat-raised-button color="primary"  *ngIf="cargando">  
                       <i class="fas fa-spinner fa-pulse"></i>Espere ...</button>
               </mat-dialog-actions> 
           
     </form>
     