<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" [formGroup]="user" autocomplete="off" (ngSubmit)="onLogin()">
            <div class="text-center">
                <h2 class="app-name">Inventarios</h2>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="text" formControlName="idusuario" placeholder="Usuario">
                        <!-- <mat-error *ngIf="!user.get('idusuario').valid">Campo obligatorio</mat-error> -->

                    </mat-form-field>
                </div>
              
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" formControlName="clave" placeholder="Contraseña">
                        <!-- <mat-error *ngIf="!user.get('clave').valid">Campo obligatorio</mat-error> -->

                    </mat-form-field>
                </div>
            </div>
            <!-- <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div> -->
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100"
                     *ngIf="!cargando" >Login</button>
                    <button mat-raised-button color="primary" class="w-100" *ngIf="cargando">  
                        <i class="fas fa-spinner fa-pulse"></i>Espere ...</button>
                </div>
            </div>

        </form>
    </div>
</div>
