.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 20px;
}
.mi-nav{
    background-color:green;
    text-align: center;
    
}

.mat-card-title{
   color: aliceblue;
   margin-top: 5px;
   align-content: center;
}
.mi-boton-salir{
   align-content: center;
    margin-top: 10px;
    color: white;
}

.mat-slider-horizontal {
    width: 30px;
}

.mat-slider-vertical {
    height: 300px;
}
.mat-form-field {
    font-size: 18px;
    width: 90%;
}