<mat-card>
  <form [formGroup]="myForm" autocomplete="off">
      <h1>Egresos</h1>
      <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px"> 
    
        <div fxFlex>
            <mat-form-field>
                <mat-select placeholder="Solicitante" formControlName="idsolicitante" required id="idsolicitante">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let usuario of usuarios" 
                  [value]="usuario.idusuario">{{usuario.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error class="error-message"
                     *ngIf="myForm.get('idsolicitante').hasError('required')
                      && (myForm.get('idsolicitante').dirty || myForm.get('idsolicitante').touched)">
                      Campo obligatorio</mat-error>
              </mat-form-field>
              
              
           
        </div>
        <div fxFlex>
            <mat-form-field class="example-margin">
                <input matInput type="text" placeholder="Memorando" formControlName="memorando">
                
                <mat-error class="error-message"
                *ngIf="myForm.get('memorando').hasError('maxlength')
                 && (myForm.get('memorando').dirty || myForm.get('memorando').touched)">
                 Máximo 50 Caracteres</mat-error>
              </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="example-margin">
                <input matInput type="text" placeholder="Observacion" formControlName="observacion">
                
                <mat-error class="error-message"
                *ngIf="myForm.get('memorando').hasError('maxlength')
                 && (myForm.get('memorando').dirty || myForm.get('memorando').touched)">
                 Máximo 200 Caracteres</mat-error>
              </mat-form-field>
        </div>
       
    </div>

  </form>
 
</mat-card>
<app-detalle [idDetalle]="idDetalle" (enviarAccionGuardar)="crudEgreso($event)"></app-detalle>
