<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-row  w3-green">
        <div class="w3-col" style="width:85%">
            <h1 mat-card-title >Funcionarios Públicos</h1>
                </div>
                <div class="w3-col " style="width:10%">
                    <button class="mi-boton-salir w3-mobile"  (click)="close(element)" mat-icon-button  >
                    <mat-icon>clear</mat-icon>
                </button>
        </div>
                
    </div>
<form [formGroup]="myForm" autocomplete="off" (ngSubmit)="crudTipo()">
  <mat-card>
      <mat-card-content>
          <mat-card-title>Tipo de Material</mat-card-title>
          <mat-card-subtitle>Registro tipo Material.</mat-card-subtitle>
          <!-- <mat-form-field>
              <input matInput value="Disco party!" placeholder="Message" #message> </mat-form-field> -->
          <mat-form-field>
              <input matInput placeholder="Nombre del material" 
                formControlName="nombre" required>
          </mat-form-field>
          <button mat-raised-button color="primary"  [disabled]="myForm.invalid" *ngIf="!cargando">  
              Guardar</button>
          <button mat-raised-button color="primary"  *ngIf="cargando">  
              <i class="fas fa-spinner fa-pulse"></i>Espere ...</button>
      </mat-card-content>
  </mat-card>
</form>
