<form [formGroup]="myForm" autocomplete="off" (ngSubmit)="crudTipo()">
  <mat-card>
      <mat-card-content>
          <mat-card-title>Material</mat-card-title>
          <mat-card-subtitle>Registro de nuevo material.</mat-card-subtitle>
          <!-- <mat-form-field>
              <input matInput value="Disco party!" placeholder="Message" #message> </mat-form-field> -->
          <mat-form-field>
              <input matInput placeholder="Nombre del material" 
                formControlName="nombre" required>
          </mat-form-field>
          <button mat-raised-button color="primary"  [disabled]="myForm.invalid" *ngIf="!cargando">  
              Guardar</button>
          <button mat-raised-button color="primary"  *ngIf="cargando">  
              <i class="fas fa-spinner fa-pulse"></i>Espere ...</button>
      </mat-card-content>
  </mat-card>
</form>
