<form [formGroup]="myForm" autocomplete="off">
  
  
    <div class="w3-row ">
        <mat-card-header style="justify-content: center">
        <div class="w3-col" style="width:85%">
                        <mat-card-title align="center">
                                <h3 class="m-0">Tipo de Material</h3>
                            </mat-card-title>
                   
         </div>
                <div class="w3-col " style="width:10%">
                    <button class="mi-boton-salir "  (click)="close(null)" mat-icon-button  color="warn" >
                    <mat-icon>clear</mat-icon>
                </button>
     </div>
    </mat-card-header>
               
  </div>
  <mat-dialog-content>
  
        <mat-form-field>
          <input matInput placeholder="Ingrese el nombre del tipo"
          formControlName="nombre">
          <mat-error class="error-message"
                     *ngIf="myForm.get('nombre').hasError('required')
                      && (myForm.get('nombre').dirty || myForm.get('nombre').touched)">
                      Campo obligatorio</mat-error>
                    <mat-error class="error-message"
                      *ngIf="myForm.get('nombre').hasError('maxlength')
                       && (myForm.get('nombre').dirty || myForm.get('nombre').touched)">
                       Máximo 50 Caracteres</mat-error>
        </mat-form-field>

  </mat-dialog-content><p></p>
  <mat-dialog-actions  align="center">

      <button (click)="crudTipo()" mat-raised-button color="primary" 
       [disabled]="myForm.invalid && myForm.untouched" *ngIf="!cargando && accion==1">  
          Guardar</button>
      <button (click)="crudTipo()" mat-raised-button color="primary" 
       [disabled]="myForm.invalid && myForm.untouched" *ngIf="!cargando && accion==2">  
          Editar</button>
      <button mat-raised-button color="primary"  *ngIf="cargando">  
          <i class="fas fa-spinner fa-pulse"></i>Espere ...</button>
  </mat-dialog-actions>
</form>

<!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
