.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 20px;
}

.mat-slider-horizontal {
    width: 30px;
}

.mat-slider-vertical {
    height: 300px;
}
.mat-form-field {
    display: block;
    // font-size: 18px;
  }

.mi-boton-salir{
   justify-content: right;
     margin-top: 10px;
    
 }
 .mat-dialog-actions {
    padding: 1px 0;
 
}