
<mat-card-content>
    <mat-progress-bar class="example-margin" *ngIf="cargando" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
    </mat-progress-bar>
</mat-card-content>

<div class="mat-elevation-z8">
        <mat-table [dataSource]="ELEMENT_DATA">
          <ng-container matColumnDef="nombreproveedor">
           <mat-header-cell *matHeaderCellDef> Proveedor </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombreproveedor}} </mat-cell>
          </ng-container>
      
       
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="star" stickyEnd >
    
              <mat-header-cell *matHeaderCellDef  class="nuevo-pointer" 
              (click)="openCrearDialog()">
               <mat-icon class="md-48">add</mat-icon></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu4">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu4="matMenu">
                <button mat-menu-item (click)="openDialog(element)">
                  <mat-icon>create</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="eliminar(element)">
                  <mat-icon>delete_outline</mat-icon>              
                    <span>Eliminar</span>
                </button>
              </mat-menu>
            </mat-cell>  
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    
        <mat-paginator [length]="length" [pageSizeOptions]="[10, 20, 30]"  (page)="paginar($event)"></mat-paginator>
      </div>