// table {
//     width: 100%;
// }

.mat-form-field {
    font-size: 14px;
    width: 160%;
}

// td,
// th {
//     width: 45%;
// }
.mi-boton-salir{
    align-content: center;
     margin-top: 10px;
     color: white;
 }
 .mi-boton-salir{
    align-content: center;
     margin-top: 10px;
     color: white;
 }
