<form [formGroup]="myForm" autocomplete="off">
  <h2 mat-dialog-title align="center">Nuevo Ingreso</h2>
  <mat-dialog-content>
        <mat-form-field>
          <mat-select placeholder="Material" formControlName="idmaterial">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let material of materiales" 
            [value]="material.idmaterial">{{material.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Proveedor" formControlName="idproveedor" (selectionChange)="cargarGarantias()">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let proveedor of proveedores" 
            [value]="proveedor.idproveedor">{{proveedor.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Garantia" formControlName="idgarantia">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let garantia of garantias" 
            [value]="garantia.idgarantia">{{garantia.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Ingrese la cantidad"
          formControlName="cantidad">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Serie"
          formControlName="serie">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Descripción"
          formControlName="descripcion">
        </mat-form-field>
  </mat-dialog-content>
 

  <mat-dialog-actions  align="center">

      <button (click)="crudIngreso()" mat-raised-button color="primary" 
       [disabled]="myForm.invalid && myForm.untouched" *ngIf="!cargando && accion==1">  
          Guardar</button>
      <!-- <button (click)="crudTipo()" mat-raised-button color="primary" 
       [disabled]="myForm.invalid && myForm.untouched" *ngIf="!cargando && accion==2">  
          Editar</button> -->
      <button mat-raised-button color="primary"  *ngIf="cargando">  
          <i class="fas fa-spinner fa-pulse"></i>Espere ...</button>
  </mat-dialog-actions>
</form>
