
  <h2 mat-dialog-title align="center">Detalle de Egreso</h2>
  <mat-dialog-content>
  
      
      <form [formGroup]="myForm" autocomplete="off">
        
        <mat-form-field>
          <input matInput placeholder="Solicitante"
          formControlName="idsolicitante">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="fecha"
          formControlName="fecha">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="memorando"
          formControlName="memorando">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="observacion"
          formControlName="observacion">
        </mat-form-field>
      </form>
      <!-- tabla de detalle -->
     
      <mat-tab-group>
          <mat-tab label="Global"> 
              <!-- <div class="mat-elevation-z8"> -->
                  <table mat-table [dataSource]="ELEMENT_DATA">
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef> Material </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="sum">
                      <th mat-header-cell *matHeaderCellDef>Cantidad </th>
                      <td mat-cell *matCellDef="let element"> {{element.sum}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                    <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>        
              <!-- </div> -->
          </mat-tab>
          <mat-tab label="Detalle">
              <table mat-table [dataSource]="DETAIL_DATA">
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="material">
                    <th mat-header-cell *matHeaderCellDef> Material </th>
                    <td mat-cell *matCellDef="let element"> {{element.material}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cantidad">
                      <th mat-header-cell *matHeaderCellDef>Cantidad </th>
                      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>
                  <ng-container matColumnDef="serie">
                    <th mat-header-cell *matHeaderCellDef>Serie</th>
                    <td mat-cell *matCellDef="let element"> {{element.serie}} </td>
                  </ng-container>
                  <ng-container matColumnDef="proveedor">
                      <th mat-header-cell *matHeaderCellDef>Proveedor</th>
                      <td mat-cell *matCellDef="let element"> {{element.proveedor}} </td>
                    </ng-container>
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef>Garantía</th>
                        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                      </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="detailColumns"></tr>
                  <tr  mat-row *matRowDef="let row; columns: detailColumns;"></tr>
                </table>        
          </mat-tab>
      </mat-tab-group>
      
      


  </mat-dialog-content>
  <mat-dialog-actions  align="center">
  </mat-dialog-actions>


