.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.mat-slider-horizontal {
    width: 30px;
}

.mat-slider-vertical {
    height: 300px;
}
.mat-form-field {
    display: block;
  }

.mi-boton-salir{
    justify-content: right;
      margin-top: 10px;
      
  }
.nav-brand {
    width: 35px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}







