<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
        Sistema de Invetarios
    </div>
    
    <span class="nav-spacer"></span>
    
    <button mat-icon-button [routerLink]="['/modulo-usuario']" *ngIf="rol===2">
        <mat-icon>person_add</mat-icon>
    </button>
    <!-- <a mat-list-item [routerLinkActive]="'active'" >
        <mat-icon class="sidenav-icon">person_add</mat-icon> {{'Usuarios'}}
    </a> -->

  
    <button mat-icon-button [routerLink]="['/perfil']">
        <mat-icon>account_circle</mat-icon>
    </button>
  
    <button mat-icon-button (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
