<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
<!-- card principal donde se muestran los reportes que ofrece el sistema -->
  <div [fxFlex]="25"> 
      <mat-card fxFlexFill fxLayoutAlign="">
        <mat-radio-group class="example-radio-group" [(ngModel)]="opcionBusqueda">
            <mat-radio-button class="example-radio-button" [value]="1">Materiales    
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="2">Ingresos    
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="3">Egresos    
            </mat-radio-button>
        </mat-radio-group>
      </mat-card>
  </div>
  <!-- card donde se muestran los tipos de filtros para los reportes -->
  <div [fxFlex]="25" *ngIf="opcionBusqueda!=1">
      <mat-card fxFlexFill fxLayoutAlign="">
          <mat-radio-group class="example-radio-group" [(ngModel)]="opcionFiltro " [disabled]="opcionBusqueda===0">
          <mat-radio-button class="example-radio-button" [value]="1">Filtrar por fechas    
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="2" *ngIf="opcionBusqueda===2">Cédula de usuario   
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="3" *ngIf="opcionBusqueda===3">Número de registro   
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="4" *ngIf="opcionBusqueda===3">Cédula solicitante  
          </mat-radio-button>
                
        </mat-radio-group>
      </mat-card>
  </div>
  <!-- cards de inputs de los filtros de busqueda,  -->
  <div [fxFlex]="50" *ngIf="opcionBusqueda!=1">
      <mat-card fxFlexFill fxLayoutAlign="center center" *ngIf="opcionFiltro===1">  <!--input busqueda por rango de fechas -->
          <input matInput [matDatepicker]="picker" placeholder="Fecha 1" [(ngModel)]="fecha1">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <input matInput [matDatepicker]="picker2" placeholder="Fecha 2" [(ngModel)]="fecha2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <button mat-button color="primary" (click)="consultar()"
            [disabled]="myForm.invalid && myForm.untouched">  
                  Buscar</button>
      </mat-card> 
      <mat-card fxFlexFill fxLayoutAlign="center center" *ngIf="opcionFiltro===4"> <!--input busqueda por la cedula del solicitante -->
        <mat-form-field>
          <input matInput  placeholder="Cédula Solicitante" [(ngModel)]="scedula">
        </mat-form-field> 
        <button mat-button color="primary" (click)="consultar()"
        [disabled]="myForm.invalid && myForm.untouched">  
              Buscar</button>
      </mat-card>
      <mat-card fxFlexFill fxLayoutAlign="center center" *ngIf="opcionFiltro===2"> <!-- del usuario que ingreso el material-->
          <mat-form-field>
            <input matInput  placeholder="Cédula Usuario" [(ngModel)]="ucedula">
          </mat-form-field> 
          <button mat-button color="primary" (click)="consultar()"
          [disabled]="myForm.invalid && myForm.untouched">  
                Buscar</button>
      </mat-card>
      <mat-card fxFlexFill fxLayoutAlign="center center" *ngIf="opcionFiltro===3"> <!--input busqueda numero registro -->
        <mat-form-field>
          <input matInput  placeholder="Número de registro" [(ngModel)]="nregistro">
        </mat-form-field> 
        <button mat-button color="primary" (click)="consultar()" [disabled]="myForm.invalid && myForm.untouched">  
              Buscar</button>
    </mat-card>      
  </div>
  <!--card para la busqueda de material por serie -->
  <div [fxFlex]="75" *ngIf="opcionBusqueda===1"> 
      <mat-card fxFlexFill fxLayoutAlign="center center"> 
          <!-- <mat-form-field [fxFlex]="75">
            <input matInput  placeholder="Serie" [(ngModel)]="serie">   
          </mat-form-field>  -->
          <div [fxFlex]="25">
            <button mat-button color="primary" (click)="consultar()"
            [disabled]="myForm.invalid && myForm.untouched">  
                  Buscar</button>
          </div>
          
      </mat-card>   
  </div>
  
</div>



<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" *ngIf="no_existe_registro">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
          <h3>No  existen registros que coincidan con este filtro de búsqueda</h3>
        </mat-card>
    </div>
</div>
    



  